@tailwind base;
@tailwind components;
@tailwind utilities;
.text-center {
    text-align:  center;
}
table {
    width: 100%;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.OverviewBox {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.DateBox{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}